html body {
  background-color: black;
  --nav-height: 80px;
}

.subtitle {
  font-weight: 700;
  line-height: .6;
  font-family: 'Avenir Next LT Pro', sans-serif;
  letter-spacing: 11.5px;
  text-shadow: 0px 0px 4px rgba(0,0,0,.8);
  font-size: 42px;
  transform: scaleY(.5);
}

.sub-title-holder {
  transform: scaleY(.6);
  margin-top: -6px
}

.maintitle {
  font-size: 1.8rem;
  line-height: .8!important;
  font-family: Copperplate, 'Copperplate', sans-serif;
  letter-spacing: 2px;
  transform: scaleY(.9);
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 52px;
    line-height: .6;
  }
  .maintitle {
    font-size: 2rem;
  }
  .sub-title-holder {
    margin-top: -10px
  }
}

.contact-menu {
  z-index: 1040;
  margin-top: -800px;
  transition: .7s ease-in-out;
}

.contact-menu.active {
  margin-top: -40px;
  transition: .7s ease-in-out;
}

#contact-list {
  max-height: calc(100vh - var(--nav-height) + 12px);
  overflow-y: auto;
}

.navbar-holder {
  z-index: 1050;
}

.btn-contact-close {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 0 0 16px 16px;
  margin-left: 60px;
  transition: .25s ease-in-out;
}

.grid {
  background: black!important;
}

.grid div {
  text-align: center;
}

.grid div div {
  margin: 1.1px!important;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.grid div div img {
  transition: transform 3.5s ease-out;
  overflow: hidden;
}

.grid div div img:hover {
  transform: scale(1.1);
  transition: transform .9s ease-out;
  cursor: pointer;
}

.grid div:hover .img-title {
  opacity: 1;
  transition: opacity 1.2s ease-in-out;
}

.text-active {
  font-weight: bold;
}

.img-title {
  width: 100%;
  position: absolute;
  color: white;
  text-shadow: 0 0 12px rgb(0 0 0 / 100%);
  bottom: 0;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .img-title {
    opacity: 0;
  }
}

.carousel-indicators {
  top: 43px;
  justify-content: left;
  margin-bottom: 100px;
  width: 329px;
}

@media (min-width: 768px) {
  .carousel-indicators {
    width: 100%;
  }
  .img-title {
    font-size: 16px;
  }
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 7px;
  height: 7px;
  padding: 0;
  margin-right: 4px;
  margin-left: 4px;
  text-indent: -999px;
  cursor: pointer;
  background-color: transparent;
  background-clip: unset;
  border: 2px solid white;
  opacity: 1;
  transition: opacity .6s ease;
  border-radius: 20px;
}

.carousel-indicators [data-bs-target].active {
  background-color: white;
}

.carousel-indicators [data-bs-target].active {
  opacity: 1;
}

.w-100 {
  width: 100%;
}

.carousel-item.active img {
  transform-origin: 75% 75%;
  animation: banner-scaling 7s linear;
}

@keyframes banner-scaling {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background: linear-gradient(transparent, rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}

#footer-images div {
  max-height: 56px;
  overflow-y: hidden;
}

#footer-images div {
  height: 56px;
}

.carousel-control-next, .carousel-control-prev {
  align-items: end;
  margin-bottom: 45px;
}

.cp {
  cursor: pointer;
}

.footer a i {
  transition: .25s ease-in-out;
}

.footer a:hover i {
  transition: .25s ease-in-out;
  transform: scale(1.2);
}

.loading {
  position: fixed;
  z-index: 9999999;
  height: 100vh;
  width: 100%;
  overflow: hidden!important;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  transition: .5s ease-in-out;
}

.loading .logo {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  animation: none;
  animation-iteration-count: 100000;
}

.loading.hide {
  transform: translateY(-100%);
  transition: .5s ease-in-out;
}

@keyframes logo-scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.img-profile {
  border-radius: 100%;
}

.row.profile .row {
  margin-top: -12px;
}

.profile a:hover {
  color: black!important;
  transition: .3s;
}

@media (min-width: 768px) {
  .w-md-100 {
    width: 420px!important;
  }
}

.sb-circles-light .sb-wrapper .sb-icon {
  background: transparent!important;
}

.sb-circles-dark .sb-wrapper .sb-icon, .sb-circles-light .sb-wrapper .sb-icon {
  box-shadow: none!important;
}

.sb-circles-dark .sb-wrapper, .sb-circles-light .sb-wrapper {
  --sb-color: #fff;
  --sb-background: transparent;
  --sb-min-width: fit-content;
  --sb-height: fit-content;
  --sb-icon-size: 1.3em!important;
  margin-right: 2px!important;
}

button.sb-wrapper {
  margin: 0!important;
  filter: grayscale(1);
  transition: .2s!important;
}

button.sb-whatsapp {
  filter: brightness(0.6) grayscale(1);
}

button.sb-tumblr {
  filter: contrast(0.2) grayscale(1);
}

.sb-content {
  width: 2em!important;
}

button.sb-wrapper:hover fa-icon {
  transform: scale(1.3);
  transition: .2s!important;
}

button.sb-wrapper:hover {
  filter: grayscale(0);
  transition: .2s!important;
}

.welcome {
  background: url("assets/img/welcome-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 99999999;
}

.welcome .logo {
  width: 100%;
  margin: 0;
  position: absolute;
}

.welcome .glow {
  width: 100%;
  margin: 0;
  transform-origin: 50% 45%;
  animation: welcome-scale 2s ease-in-out;
  animation-iteration-count: 100000000;
  position: relative;
}

@keyframes welcome-scale {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.profile i {
  opacity: .5!important;
}

i.fa-brands.fa-facebook-f {
  font-size: 22px!important;
}

.cursor-pointer:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .px-header-5 {
    margin-left: 2rem!important;
    margin-right: 2rem!important;
    padding-left: 12px
  }

  .m-point-left {
    margin-left: 2.5rem!important;
    width: 380px!important;
  }

  header ul {
    margin-right: 2rem;
  }
}

@media (min-width: 1600px) {
  .px-header-5 {
    padding-left: 5rem!important;
    padding-right: 5rem!important;
  }
}

#logo-icon {
  width: calc(var(--nav-height)* 0.6);
}

#logo-icon-mobile {
  width: 60px;
  margin-top: 10px!important;
}

#logo-nav {
  flex-direction: row;
  gap: 12px;
  padding-bottom: 1px;
}

.project-title-holder {
  position: fixed;
  z-index: 9;
  bottom: 50px;
}

.project-title {
  margin-left: -2px;
  font-size: 20px;
  text-shadow: 0px 0px 4px rgb(0 0 0);
}

@media (min-width: 987px) {
  .project-title {
    font-size: 22px;
  }
}

@media (min-width: 1500px) {
  .project-title {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  #logo-nav {
    gap: 17px;
    padding-bottom: 3px;
  }
  #logo-icon {
    margin-top: 8px;
  }
}
