<app-admin-header></app-admin-header>
<main class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <div class="card card-body shadow-sm">
        <h3 class="mb-0">{{title}}</h3>
        <hr>
        <form [formGroup]="form">
          <div class="form-floating mb-3">
            <input formControlName="hun_name" type="text" class="form-control" id="hun_name"/>
            <label for="hun_name">Projekt név (magyar)</label>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="en_name" type="text" class="form-control" id="en_name"/>
            <label for="en_name">Projekt név (angol)</label>
          </div>
          <div class="form-floating mb-3">
            <textarea formControlName="description" rows="3" class="form-control" id="description"></textarea>
            <label for="description">SEO leírás</label>
          </div>
          <div class="form-floating">
            <input formControlName="file_name" type="text" class="form-control" id="file_name"/>
            <label for="file_name">Fájl név</label>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Kép</label>
            <input (change)="handleUpload($event)" accept="image/webp" class="form-control" type="file" id="image">
          </div>
          <button type="button" (click)="save()" class="btn btn-primary">Mentés</button>
        </form>
      </div>
    </div>
  </div>
</main>
