<app-admin-header></app-admin-header>
<main class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto mt-5">
      <div class="card card-body bg-white shadow-sm">
        <div class="row">
          <div class="col">
            <h1>Banner List</h1>
          </div>
          <div class="col text-end">
            <button type="button" class="btn btn-primary" (click)="new()">
              <i class="fa fa-plus"></i> New
            </button>
          </div>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of list;">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.desc}}</td>
            <td>
              <button type="button" class="btn btn-outline-danger" (click)="delete(item)">
                <i class="fa fa-trash"></i> Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
