<div  class="container-fluid">
  <div id="footer-images" class="row grid border-top-0">
    <div class="col-12 col-md-6 col-lg-4 p-0">
      <!--<img src="assets/img/tp0.jpg" class="img-fluid" alt="...">-->
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-0 d-none d-md-block">
      <!--<img src="assets/img/tp1.jpg" class="img-fluid" alt="...">-->
    </div>
    <div class="col-12 col-md-6 col-lg-4 d-none d-lg-block p-0">
      <!--<img src="assets/img/116 Bp Költő-01.jpg" class="img-fluid" alt="...">-->
    </div>
  </div>
</div>
<footer class="footer mt-auto py-3">
  <div class="d-none d-md-block container-fluid">
    <div class="px-header-5" style="width: 388px">
      <div class="d-flex justify-content-between">
        <a class="text-white" href="https://www.linkedin.com/company/syndom-st%C3%BAdi%C3%B3-kft/" target="_blank">
          <i class="fa-brands fa-linkedin fa-xl"></i>
        </a>
        <a class="text-white" href="https://www.facebook.com/profile.php?id=100088491561319" target="_blank">
          <i class="fa-brands fa-facebook fa-xl"></i>
        </a>
        <a class="text-white" href="https://www.instagram.com/syndomstudio/" target="_blank">
          <i class="fa-brands fa-instagram fa-xl"></i>
        </a>
        <a class="text-white" href="https://hu.pinterest.com/syndomstudio/" target="_blank">
          <i class="fa-brands fa-pinterest fa-xl"></i>
        </a>
        <a class="text-white" href="https://www.youtube.com/@syndomstudio/featured" target="_blank">
          <i class="fa-brands fa-youtube fa-xl"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="d-md-none container" style="overflow-x: hidden">
    <div class="row">
      <div class="col text-center">
        <a class="text-white" href="https://www.linkedin.com/company/syndom-st%C3%BAdi%C3%B3-kft/" target="_blank">
          <i class="fa-brands fa-linkedin fa-xl"></i>
        </a>
      </div>
      <div class="col text-center">
        <a class="text-white" href="https://www.facebook.com/profile.php?id=100088491561319" target="_blank">
          <i class="fa-brands fa-facebook fa-xl"></i>
        </a>
      </div>
      <div class="col text-center">
        <a class="text-white" href="https://www.instagram.com/syndomstudio/" target="_blank">
          <i class="fa-brands fa-instagram fa-xl"></i>
        </a>
      </div>
      <div class="col text-center">
        <a class="text-white" href="https://hu.pinterest.com/syndomstudio/" target="_blank">
          <i class="fa-brands fa-pinterest fa-xl"></i>
        </a>
      </div>
      <div class="col text-center">
        <a class="text-white" href="https://www.youtube.com/@syndomstudio/featured" target="_blank">
          <i class="fa-brands fa-youtube fa-xl"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
