<div  class="container-fluid">
  <div id="footer-images" class="row grid border-top-0">
    <div class="col-12 col-md-6 col-lg-4 p-0">
      <img src="assets/img/tp0.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-0 d-none d-md-block">
      <img src="assets/img/tp1.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-12 col-md-6 col-lg-4 d-none d-lg-block p-0">
      <img src="assets/img/116 Bp Költő-01.jpg" class="img-fluid" alt="...">
    </div>
  </div>
</div>
<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <a class="text-white" href="">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
      </div>
      <div class="col text-center">
        <a class="text-white" href="">
          <i class="fa-brands fa-facebook fa-2xl"></i>
        </a>
      </div>
      <div class="col text-center">
        <a class="text-white" href="">
          <i class="fa-brands fa-instagram fa-2xl"></i>
        </a>
      </div>
      <div class="col text-center">
        <a class="text-white" href="">
          <i class="fa-brands fa-pinterest fa-2xl"></i>
        </a>
      </div>
      <div class="col text-center">
        <a class="text-white" href="">
          <i class="fa-brands fa-youtube fa-2xl"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
