<nav class="sticky-top" style="-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)">
  <div class="w-100 bg-dark sticky-top navbar-holder d-none d-md-block" style="height: 1px"></div>

  <header class="container-fluid bg-white d-block d-md-flex align-items-end justify-content-center justify-content-md-start" style="height: var(--nav-height); z-index: 1050; position: relative">
      <div style="width: 380px"></div>
      <div class="nav mx-auto d-none d-md-block" style="align-items: baseline">
        <div class=" cursor-pointer d-none d-xl-block" (click)="music()">
          <img class="me-1" style="height: 14px; margin-bottom: 4px" src="assets/img/kotta.png" alt=""/>music
        </div>
      </div>
      <ul class="nav mb-0" style="align-items: baseline">
        <div class="me-2 d-none d-lg-block" style="font-size: 12px">share:</div>
        <share-button class="d-none d-lg-block" theme="circles-light" button="copy"></share-button>
        <share-button class="me-3 d-none d-lg-block" theme="circles-light" button="email"></share-button>

        <share-button class="d-none d-lg-block" theme="circles-light" button="linkedin"></share-button>
        <share-button class="d-none d-lg-block" theme="circles-light" button="facebook"></share-button>
        <share-button class="d-none d-lg-block" theme="circles-light" button="pinterest"></share-button>
        <share-button class="d-none d-lg-block" theme="circles-light" button="reddit"></share-button>
        <share-button class="d-none d-lg-block" theme="circles-light" button="tumblr"></share-button>
        <share-button class="me-3 d-none d-lg-block" theme="circles-light" button="vk"></share-button>

        <share-button class="d-none d-lg-block" theme="circles-light" button="twitter"></share-button>
        <share-button class="d-none d-lg-block" theme="circles-light" button="whatsapp"></share-button>
        <share-button class="d-none d-lg-block" theme="circles-light" button="telegram"></share-button>
      </ul>
  </header>
  <div class="container-fluid d-block d-md-flex align-items-end">
    <div class="mx-auto px-header-5" style="width: fit-content;block-size: fit-content">
      <div style="margin-top: calc(var(--nav-height) * -1 * var(--nav-top-mlpy)); padding-right: 12px; z-index: 1050; position: relative">
        <div class="d-flex justify-content-between">
          <img (click)="home()" class="img-fluid logo-img cp" alt="" src="assets/img/logo.png" style="width: 100%;">
          <ul id="logo-nav" class="nav d-flex align-items-end">
            <li class="nav-item d-flex">
              <button type="button" (click)="setLang('en')" class="btn btn-link nav-link p-0 pe-1 text-dark {{isLang('en')}}" style="line-height: 1; border-radius: 0; border-right: 2px solid black">en</button>
              <button type="button" (click)="setLang('hun')" class="btn btn-link nav-link p-0 ps-1 text-dark {{isLang('hun')}}" style="line-height: 1;">hu</button>
            </li>
            <li class="nav-item">
              <button type="button" (click)="open()" class="btn btn-link nav-link p-0 contact-button text-dark" style="line-height: 1;">contact</button>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="sub-title-holder">
          <span class="text-white subtitle">architecture</span>
        </div>
      </div>
    </div>
  </div>
  <div id="contact-menu" class="position-absolute w-100 contact-menu">
    <div class="container-fluid p-0 p-md-2 ps-md-0">
      <div class="text-dark d-flex px-header-5 ps-0">
        <div>
          <div id="contact-list" class="bg-white p-3 w-100 w-md-100">
            <div class="row mx-0">
              <div class="col">
                <div class="mt-3">Zoomdesign Kft.</div>
                <div>1037 Budapest, Bóbita utca 2.</div>
              </div>
            </div>
            <hr class="m-2">
            <div class="row profile mx-0">
              <div class="col-8">
                <b>Borók Tamás</b>
                <br>
                vezető építész tervező
                <br>
                +36 703144276
              </div>
            </div>
            <div class="row profile mx-0">
              <div class="col-12">
                <div class="row">
                  <div class="col-2 d-flex align-items-end">
                    <a class="text-secondary" href="https://www.linkedin.com/in/tam%C3%A1s-bor%C3%B3k-a93a7025a/" target="_blank">
                      <i class="fa-brands fa-linkedin-in fa-xl"></i>
                    </a>
                  </div>
                  <div class="col-3 d-flex align-items-end justify-content-center">
                    <a class="text-secondary" href="https://www.facebook.com/profile.php?id=100088510520574" target="_blank">
                      <i class="fa-brands fa-facebook-f fa-xl"></i>
                    </a>
                  </div>
                  <div class="col-2 d-flex align-items-end justify-content-end">
                    <a class="text-secondary" href="https://www.instagram.com/boroktamas/" target="_blank">
                      <i class="fa-brands fa-instagram fa-xl"></i>
                    </a>
                  </div>
                  <div class="col-5">
                    <div class="row">
                      <div class="col-8 d-flex align-items-end">
                        <img alt="" class="img-fluid img-profile" src="assets/img/bt_profile.webp">
                      </div>
                      <div class="col-4 d-flex align-items-end">
                        <a class="text-secondary" href="mailto:bt@zoomdesign.hu">
                          <i class="fa-regular fa-envelope fa-xl"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="m-2">
            <div class="row profile mx-0">
              <div class="col-8">
                <b>Riez Zoltán</b>
                <br>
                vezető építész tervező
                <br>
                +36 703144275
              </div>
            </div>
            <div class="row profile mx-0">
              <div class="col-12">
                <div class="row">
                  <div class="col-2 d-flex align-items-end">
                    <a class="text-secondary" href="https://www.linkedin.com/in/zolt%C3%A1n-riez-b99676257/" target="_blank">
                      <i class="fa-brands fa-linkedin-in fa-xl"></i>
                    </a>
                  </div>
                  <div class="col-3 d-flex align-items-end justify-content-center">
                    <a class="text-secondary" href="https://www.facebook.com/zoltan.riezepitesz" target="_blank">
                      <i class="fa-brands fa-facebook-f fa-xl"></i>
                    </a>
                  </div>
                  <div class="col-2 d-flex align-items-end justify-content-end">
                    <a class="text-secondary" href="https://www.instagram.com/zoltan.riezepitesz/" target="_blank">
                      <i class="fa-brands fa-instagram fa-xl"></i>
                    </a>
                  </div>
                  <div class="col-5">
                    <div class="row">
                      <div class="col-8 d-flex align-items-end">
                        <img alt="" class="img-fluid img-profile" src="assets/img/rz_profile.webp">
                      </div>
                      <div class="col-4 d-flex align-items-end">
                        <a class="text-secondary" href="mailto:rz@zoomdesign.hu">
                          <i class="fa-regular fa-envelope fa-xl"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="m-2">
            <div class="row profile mx-0">
              <div class="col-8">
                <b>Biró János</b>
                <br>
                építész koordinátor
                <br>
                +36 204383375
              </div>
            </div>
            <div class="row profile mx-0">
              <div class="col-12">
                <div class="row">
                  <div class="col-2 d-flex align-items-end"></div>
                  <div class="col-3 d-flex align-items-end justify-content-center"></div>
                  <div class="col-2 d-flex align-items-end justify-content-end"></div>
                  <div class="col-5">
                    <div class="row">
                      <div class="col-8 d-flex align-items-end">
                        <img alt="" class="img-fluid img-profile" src="assets/img/jb_profile.webp">
                      </div>
                      <div class="col-4 d-flex align-items-end">
                        <a class="text-secondary" href="mailto:bj@zoomdesign.hu">
                          <i class="fa-regular fa-envelope fa-xl"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" (click)="open()" class="btn-contact-close contact-button p-0">
            <img style="margin-top: -15px;width: 85px;" src="assets/img/ful.png" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<audio id="audio_player" src="/music/good_enough.mp3"></audio>
