<app-admin-header></app-admin-header>
<main class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto mt-5">
      <div class="card card-body bg-white shadow-sm">
        <div class="row">
          <div class="col">
            <h1>{{name}}</h1>
          </div>
          <div class="col text-end">
            <button type="button" class="btn btn-primary" (click)="new()">
              <i class="fa fa-plus"></i> Új
            </button>
          </div>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fájlnév</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of list;">
            <th scope="row">{{item.id}}</th>
            <td>{{item.img}}</td>
            <td>
              <a target="_blank" href="http://syndom.hu/demo/api/uploads/projects/{{id}}/{{item.img}}" class="btn btn-outline-secondary">
                <i class="fa fa-eye"></i> Megtekint
              </a>
            </td>
            <td>
              <button type="button" class="btn btn-outline-warning" (click)="update(item.id)">
                <i class="fa fa-trash"></i> Szerkesztés
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-danger" (click)="delete(item)">
                <i class="fa fa-trash"></i> Törlés
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
