<app-loading-page [loading]="loading"></app-loading-page>
<app-header></app-header>
<main class="container-fluid" style="margin-top: -37px">
  <div class="row">
    <div class="col p-0">
      <div id="banners" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div id="btns" class="carousel-indicators"></div>
        <div class="carousel-inner">
          <div *ngFor="let banner of banners" class="carousel-item" data-bs-interval="false">
            <img class="w-100 d-none d-md-block" alt="{{banner.desc}}" src="http://syndom.hu/demo/api/uploads/banners/{{banner.name}}"/>
            <img class="w-100 d-md-none" alt="{{banner.desc}}" src="http://syndom.hu/demo/api/uploads/banners/mobile/{{banner.name}}"/>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#banners" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#banners" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row grid" *ngIf="!loading">
    <div (click)="navTo(project)" *ngFor="let project of projects; index as i;" class="col-12 col-md-6 col-lg-4 p-0">
      <div>
        <img src="http://syndom.hu/demo/api/uploads/projects/{{project.img}}" class="img-fluid" alt="{{project.desc}}">
        <h3 class="img-title">{{getProjectName(project)}}</h3>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
