<app-admin-header></app-admin-header>
<main class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto mt-5">
      <div class="card card-body bg-white shadow-sm">
        <div class="row">
          <div class="col">
            <h1>Project List</h1>
          </div>
          <div class="col text-end">
            <button type="button" class="btn btn-primary" (click)="new()">
              <i class="fa fa-plus"></i> New
            </button>
          </div>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name (Hun)</th>
            <th scope="col">Name (En)</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of list;">
            <th scope="row">{{item.id}}</th>
            <td>{{item.hun_name}}</td>
            <td>{{item.en_name}}</td>
            <td>
              <button type="button" class="btn btn-outline-primary" (click)="open(item.id)">
                <i class="fa fa-eye"></i> View
              </button>
            </td>
            <td>
              <button *ngIf="item.db === 0" type="button" class="btn btn-outline-danger" (click)="delete(item)">
                <i class="fa fa-trash"></i> Delete
              </button>
              <div *ngIf="item.db > 0" class="text-danger">Not Empty</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
