<app-loading-page [loading]="loading"></app-loading-page>
<app-header></app-header>
<main class="container-fluid" style="margin-top: -37px">
  <div class="row" style="position: fixed;
    z-index: 9;
    margin-top: 40px;
    margin-left: -2px;">
    <div class="col">
      <h1 class="text-white" style="padding-left: 90px; font-size: 25px;text-shadow: 0px 0px 4px rgb(0 0 0)">{{title}}</h1>
    </div>
  </div>
  <div class="row grid">
    <div *ngFor="let image of images; index as i;" class="col-12 col-md-6 col-lg-4 p-0">
      <div>
        <img src="http://syndom.hu/uploads/projects/{{id}}/{{image.img}}" class="img-fluid" alt="{{image.desc}}">
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
